body,.container {
	overflow: hidden;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}
body.hideCursor {
	cursor: none;
}
.overlay {
	opacity: 0;
}
.error {
	display: none;
	color: #fff;
	text-align: center;
	font-family: sans-serif;
	font-size: 5em;
}
.error i{
	font-size: 4em;
}

.channelguide{
	position: absolute;
	text-align: center;
	bottom: 10px;
	left: 10px;
	height: 140px;
	right: 10px;
}
.channelguide a{
	margin: 5px;
	text-decoration: none;
	font-size: 6em;
	background-color: black;
	display: inline-block;
	border: 2px solid white;
	font-family: sans-serif;
	color: white;
	opacity: 0.35;
}
.channelguide a img {
	height: 125px;
}
.channelguide a.active, .channelguide a:hover {
	opacity: 1;
}