<repeat group="{{@channels}}" value="{{@channel}}">
	<h1>Channel {{@channel.id}} - {{@channel.name}}<a href='/channel/{{@channel.id}}/edit' class='edit btn btn-default'>Edit Channel</a></h1>
	<p><a class='btn btn-primary' href='/channel/{{@channel.id}}/new'>Add Video</a></p>
	
	<repeat group="{{@videos[@channel.id]}}" value="{{@video}}">
		<a href='/channel/{{@channel.id}}/{{@video.id}}'>
			<img src='http://img.youtube.com/vi/{{@video.youtubeID}}/default.jpg'>
	    </a>
	</repeat>
	<hr>
</repeat>

<a class='btn btn-default' href='/channel/new'>Create New Channel</a>