<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/channels.css" rel="stylesheet">
	<title>Visual Radio | Programming</title>

	<check if="{{@googleAnalyticsCode}}">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{@googleAnalyticsCode}}', 'auto');
			ga('send', 'pageview');
		</script>
	</check>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/channels">Visual Radio</a>
	    </div>
	    <a class="navbar-text navbar-right" href='/'><span class="glyphicon glyphicon-share-alt"></span> Go to Radio</a>
	  </div>
	</nav>

	<div class=container>