<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/channels.css" rel="stylesheet">
	<title>Visual Radio | Programming</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/channels">Visual Radio</a>
	    </div>
	    <a class="navbar-text navbar-right" href='/'><span class="glyphicon glyphicon-share-alt"></span> Go to Radio</a>
	  </div>
	</nav>

	<div class=container>