<link rel="stylesheet" href="/static/css/index.css">
<title>Visual Radio</title>

<div class="container video"></div>
<div class="container overlay"></div>
<div class="container error">No Connection</div>
<div class="channelguide">
	<check if="{{@ALLOW_SOUND}}">
		<div class="mute">
			<a id='mute' href='#'></a>
		</div>
	</check>
	<repeat group="{{@channels}}" value="{{@channel}}">
		<a class="channel" id='{{@channel.id}}' href='#'><img src='/static/icons/{{@channel.id}}.png'></a>
	</repeat>
</div>


<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.tube.min.js"></script>
<script src="/static/js/visualradio.js"></script>
<script src="/static/js/keyboard.js"></script>
<script src="/static/js/channelguide.js"></script>

<check if="{{@GOOGLE_ANALYTICS}}">
	<script>var GOOGLE_ANALYTICS = '{{@GOOGLE_ANALYTICS}}';</script>
	<script src="/static/js/analytics.js"></script>
</check>