<link rel="stylesheet" href="/static/css/main.css">
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.tube.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/keyboard.js"></script>

<div class="container video"></div>
<div class="container overlay"></div>
<div class="container error">No Connection</div>
<div class="channelguide">
	<repeat group="{{@channels}}" value="{{@channel}}">
		<a id='{{@channel.id}}' href='#'><img src='/static/icons/{{@channel.id}}.png'></a>
	</repeat>
</div>
