<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/channels.css" rel="stylesheet">
    <title>Visual Radio | New Video</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/channels">Visual Radio</a>
	    </div>
	  </div>
	</nav>

    <div class='container'>
        <h1>New Video - Channel {{@PARAMS.channelID}}</h1>
    	<div class='row'>
    		<div class='col-xs-6'>

		        <form action='' id='videoInfo' method="POST">

		            <div id='youtubeID' class="form-group has-feedback">
		                <label for="youtubeID">Youtube ID</label>
		                <input type="text" class="form-control" name="youtubeID" placeholder="11 Digit Youtube ID">
  						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		                <span class="help-block">This is the 11 digit ID at the end of the youtube URL.<br />https://www.youtube.com/watch?v=YOUTUBEID</span>
		            </div>

		            <div id='startTime' class="form-group has-feedback">
		                <label for="startTime">Start Time</label>
		                <input type="text" class="time form-control" name="startTime" disabled>
  						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		                <span class="help-block">Time in seconds when the video should start playing.<br />Set this to after any intro text.</span>
		            </div>

		            <div id='endTime' class="form-group has-feedback">
		                <label for="endTime">End Time</label>
		                <input type="text" class="time form-control" name="endTime" disabled>
  						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		                <span class="help-block">Time in seconds when the video should stop playing.<br />Set this to before any credits or links to related videos.</span>
		            </div>

		            <button type="submit" class="btn btn-primary" disabled>Submit</button>

		        </form>
		    </div>

    		<div class='col-xs-6'>
				<div class='video'></div>
				<p>
					<button class='time btn btn-success' name="startTime" disabled>Set Start Time to Current</button>
					<button class='time btn btn-success' name="endTime" disabled>Set End Time to Current</button>
				</p>
		    </div>
		</div>
    </div>

    <script src="/static/js/lib/jquery.min.js"></script>
	<script src="/static/js/lib/jquery.tube.min.js"></script>
	<script src="/static/js/video.add.js"></script>
</body>